@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    
}

.location p {
    font-size: 1rem;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.time {
    font-size: 5rem;
    font-weight: 700;
}

.voice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.voice button{
    background-color: #686868;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.voice img:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .container {
        gap: 5rem;
    }
    .current {
        gap: 0.1rem;
    }
    .time {
        font-size: 4rem;
    }
}